* {
    padding: 0;
    margin: 0;
}

#main1{

    height:760px;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

.window {
    background: #87cefa
}

#form tr td a{
    color:#FF4040;
}


.row,.col-md-12{
    margin: 0px;
    padding: 0;
}

.login_btn1 {
    z-index: 999;
    position: absolute;
    right: 6%;
    top: 20px;
}

a{
    cursor:pointer;
}
.login_btn1 a {
    display: inline-block;
    font-size: 12px;
    width: 46px;
    height: 23px;
    background-color: #1E90FF;
    color: #fff;
    line-height: 23px;
    text-align: center;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    border-radius: 4px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 2px 2px 2px #555555;
    -moz-text-shadow: 2px 2px 2px #555555;
    -ms-text-shadow: 2px 2px 2px #555555;
    -webkit-text-shadow: 2px 2px 2px #555555;
    border: 1px solid rgba(0, 30, 96, 0.12);
    -moz-border: 1px solid rgba(0, 30, 96, 0.12);
    -ms-border: 1px solid rgba(0, 30, 96, 0.12);
    -webkit-border: 1px solid rgba(0, 30, 96, 0.12);
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a:focus{

    outline:none;
}