@CHARSET "UTF-8";
.layout-north {
    width: 100%;
    height: 100px;
    background-color: #2f86f6;
    overflow: hidden;
}

.layout-north .logo {
    padding: 0 0 0 20px;
    width: 45%;
    letter-spacing: 5px;
    margin: 0 auto;
    height: 80px;
    line-height: 40px;
    color: white;
    font-size: 27px;
    font-weight: 600;
}

.layout-north .info {
    width: 300px;
    font-size: 17px;
    height: 80px;
    float: right;
    color: white;
    text-align: right;
    padding: 0 20px 0 0;
    line-height: 40px;
}

.return {
    margin: auto auto;
    /*    height: 400px;*/
    
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border: 1px solid rgba(255, 255, 255, 0.5);
    -ms-border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border: 1px solid rgba(255, 255, 255, 0.5);
    /*    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);*/
    
    margin-top: 10%;
}

#fm {
    margin: 100px auto 0 auto;
    text-align: -webkit-center;
}

.font_style span {
    font-size: 16px;
}

#phone,
#phone1,
#email,
.verify1 {
    width: 224px;
    height: 30px;
    outline: none;
    border: 1px solid rgba(119, 119, 119, 0.66);
}

.login_btn {
    width: 225px;
    margin: 0 auto 50px auto;
}



.login_btn a {
    display: inline-block;
    font-size: 15px;
    width: 225px;
    height: 30px;
    background-color: #2f86f6;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    margin-top: 15px;
    margin-left:40px;
    border-radius: 4px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 2px 2px 2px #555555;
    -moz-text-shadow: 2px 2px 2px #555555;
    -ms-text-shadow: 2px 2px 2px #555555;
    -webkit-text-shadow: 2px 2px 2px #555555;
    border: 1px solid rgba(0, 30, 96, 0.12);
    -moz-border: 1px solid rgba(0, 30, 96, 0.12);
    -ms-border: 1px solid rgba(0, 30, 96, 0.12);
    -webkit-border: 1px solid rgba(0, 30, 96, 0.12);
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.login_btn1 {
      width: 45px;
      margin: 0 auto 50px auto;
      position: absolute;
      right: 15px;
      top: -38px;
}
.login_btn1 a {
    display: inline-block;
    font-size: 15px;
    width: 45px;
    height: 30px;
    background-color: #2f86f6;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
/*    margin-top: 15px;*/
    border-radius: 4px;
    -ms-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-shadow: 2px 2px 2px #555555;
    -moz-text-shadow: 2px 2px 2px #555555;
    -ms-text-shadow: 2px 2px 2px #555555;
    -webkit-text-shadow: 2px 2px 2px #555555;
    border: 1px solid rgba(0, 30, 96, 0.12);
    -moz-border: 1px solid rgba(0, 30, 96, 0.12);
    -ms-border: 1px solid rgba(0, 30, 96, 0.12);
    -webkit-border: 1px solid rgba(0, 30, 96, 0.12);
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a:hover {
    text-decoration: none;
    /*color: #ffff00;*/
}
/*邮箱(mail)页面样式*/

#email1 {
    width: 180px;
    height: 25px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
}

.line {
    width: 900px;
    height: 400px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border: 1px solid rgba(255, 255, 255, 0.5);
    -ms-border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    margin: 220px auto;
}

.return1 {
    width: 360px;
    height: 200px;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border: 1px solid rgba(255, 255, 255, 0.5);
    -ms-border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
}

.return1 .login_btn a {
    display: inline-block;
    font-size: 15px;
    /*    width: 225px;*/
    
    height: 45px;
    background-color: rgba(40, 87, 242, 0.9);
    color: #fff;
    line-height: 45px;
    text-align: center;
    margin-top: 15px;
    border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 2px 2px 2px #555555;
    -moz-text-shadow: 2px 2px 2px #555555;
    -ms-text-shadow: 2px 2px 2px #555555;
    -webkit-text-shadow: 2px 2px 2px #555555;
    border: 1px solid rgba(0, 30, 96, 0.12);
    -moz-border: 1px solid rgba(0, 30, 96, 0.12);
    -ms-border: 1px solid rgba(0, 30, 96, 0.12);
    -webkit-border: 1px solid rgba(0, 30, 96, 0.12);
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.return1 img {
    margin: 0px auto;
}

.font_style {
    font-size: 16px;
    margin: 0px auto;
}

#log-button {
    margin-top: 30px;
    width: 110px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    font-weight: 100;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    background: #2f86f6;
}