  * {
      margin: 0;
      padding: 0;
  }
  
  body {
      width:100%;
      height:100%;
      margin: 0 ato;
      background-image: url(../dl-img/bg-1.png);
      background-repeat: no-repeat;
      background-size: 100%;
      font-family: "Microsoft Yahei";
      overflow: hidden;
      position: relative;
  }
  
  body a:hover {
      text-decoration: none;
      color: antiquewhite;
  }
  
  .container {
      padding-right: 0px;
      padding-left: 0px;
      margin-right: auto;
      margin-left: auto;
  }
  
  .row {
      margin-right: 0;
      margin-left: 0;
  }
  
  .col-md-8,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-10,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-9,
  .col-md-11,
  .col-md-12 {
      position: relative;
      min-height: 1px;
      padding: 0;
      margin: 0;
  }
  
  .img {
      margin: 0 auto;
      margin-top: 70px;
  }
  
  <!--登录 --> #fm span {
      font-family: "微软雅黑";
  }
  
  #fm input {
      width: 150px;
      height: 40px;
      padding-left: 5px;
      border: 1px solid rgba(250, 247, 247, 0.1);
      border-radius: 10px;
      -o-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-box-shadow: 2px 2px 10px 2px rgba(101, 101, 101, 0.5);
      -webkit-box-shadow: 2px 2px 10px 2px rgba(101, 101, 101, 0.5);
      box-shadow: 2px 2px 10px 2px rgba(101, 101, 101, 0.5);
  }
  
  #fm a {
      display: inline-block;
      width: 120px;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
      color: black;
      background-color: rgba(173, 240, 153, 0.33);
      text-align: center;
      letter-spacing: 5px;
      border: 1px solid rgba(0, 30, 96, 0.12);
      -moz-border: 1px solid rgba(0, 30, 96, 0.12);
      -ms-border: 1px solid rgba(0, 30, 96, 0.12);
      -webkit-border: 1px solid rgba(0, 30, 96, 0.12);
      -moz-box-shadow: 2px 2px 10px 2px rgba(101, 101, 101, 0.5);
      -webkit-box-shadow: 2px 2px 10px 2px rgba(101, 101, 101, 0.5);
      transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
  }

  #fm a:hover {
      text-decoration: none;
      color:#179ff4;
  }
  
  <!-- 图片动画 --> a:hover {
      text-decoration: none;
  }
  /*
  a h2 {
      color: #073b07;
      font-size: 30px;
      font-weight: 800;
      display: block;
      z-index: 10;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      -moz-transition: -moz-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
  }
*/
  /*
  .img {
      transition: All 0.4s ease-in-out;
      -webkit-transition: All 0.4s ease-in-out;
      -moz-transition: All 0.4s ease-in-out;
      -o-transition: All 0.4s ease-in-out;
  }
  
*/
  /*
  .img:hover {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
  }
  
*/
  
  .footer {
      width: 100%;
      height: 80px;
      margin: 0px auto;
      padding: 15px;
      border: 2px solid rgba(7, 59, 7, 0.76);
      background-color: rgba(7, 59, 7, 0.76);
      text-align: center;
      line-height: 10px;
      position: fixed;
      bottom: 0px;
  }
  
  .footer p {
      color: rgba(199, 204, 204, 0.89);
  }
  
  .footer a:hover {
      background-color: rgba(237, 189, 126, 0.72);
  }